# Taken from https://github.com/lesion/torjail
# Start tor with `tor -f $thisfile`
VirtualAddrNetwork 10.200.1.1/10
AutomapHostsSuffixes .onion,.exit
AutomapHostsOnResolve 1
TransPort 9040
TransListenAddress 10.200.1.1
DNSPort 5353
DNSListenAddress 10.200.1.1


